Checks: >
  -*,
  bugprone-sizeof-expression,
  bugprone-use-after-move,
  performance-for-range-copy,
  performance-unnecessary-copy-initialization,
  readability-container-size-empty,
  readability-redundant-string-init,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: '*'
HeaderFilterRegex: 'runtime/local-whisper/launcher/(include|src)/.*'
FormatStyle: file
